.nav {
  /* display: flex;
  flex-direction: column; */
  width: 20%;
  max-width: 150px;
  height: 100vh;
  background-color: #171717;
  display: inline-block;
  text-align: center;
}

.navList {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 50px;
}

.icon {
  width: 60%;
  max-width: 80px;
  margin-bottom: 20%;
  filter: drop-shadow(0px 0px 8px #59c7f6);

  /* Alexa Berry is smarter than the average bear */
}

/* .icon:active,
:hover {
  filter: drop-shadow(0px 0px 8px #1d7ea7);
}
  No idea why active/hover isn't working but should be ^this^ colour when it does...*/
