.nav {
  /* display: flex;
  flex-direction: column; */
  width: 20%;
  height: 100vh;
  background-color: #171717;
  display: inline-block;
  text-align: center;
}

.navList {
  list-style-type: none;
  padding-inline-start: 0;
}

.icon {
  width: 60%;
  /* box-shadow: 2px 2px 5px #59c7f6; */
  /* idk how to do the neon shadow thing ugh */
}
